{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "middlewares": "./server/middlewares",
        "auth": "./server/auth",
        "common": "./server/common",
        "controllers": "./server/controllers",
        "database": "./server/database",
        "models": "./server/models",
        "services": "./server/services"
      }
    }]
  ]
}
